body{
	margin: 0px;
	font-family: sans-serif;
}

/*Body Header*/
#body-header{
	height: 65vh;
	background-image: url(Images/macbook_mouse.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

/*Horizontal List.*/
.horizontal-list{
	list-style:  none;
	padding-left: 0px;

}

.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;

}

.horizontal-list li a{
	color: white;
	text-decoration: none;
	transition: color 0.5s ;
	font-weight: 3px;

}

.horizontal-list li a:hover{
	color: red;
	text-decoration: underline;

}

.text-center{
	text-align: center;
}

#name{
	margin-top: 20vh;
}
#name h1{
	color: lightgray;
	margin-bottom: 0.5rem;
	text-align: center;
	font-size: 3rem;
	letter-spacing: 0.1rem;

}

.Social-icons li a img{
	padding: 10px;
	height: 40px;
	margin-top: 20px;
	border-radius: 20%;	

}

.Social-icons li a img:hover{
	box-shadow: 0px 0px 6px 4px gray;


}

.Social-icons {
	align-items: center;
}

#Socails li{
	display: inline;


}
section{
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;

}
#home{
	height: auto;
	width: 100%;
}

#my-image{
	height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}
#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 4px solid rgb(210 216 218);
}
#my-image img:hover{
	box-shadow: 0px 0px 6px 4px gray;
}
#about-id p{
	text-align: center;
    font-size: 20px;
}

/*Time line Section*/
.timeline{
	position: relative;
	width: 75%;
	border: 2px solid black;

}

.timeline-box{
	position: relative;
	margin: 5px;
	width: 40%;
	left: 5%;
	min-height: 150px;
	border: 2px solid black;
}
.timeline-box:nth-child(2n){
	left: 53%;
}

.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 35%;
	right: -13%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;
}

.timeline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 35%;
	left: -9%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;
}

.timeline-divider{
	position: absolute;
	height: 75%;
	width: 0;
	border: 3px dashed lightblue;
	top: 10%;
	left: 50%;

}
.timeline-travler{
	position: sticky;
	top: 25%;
	transform: rotate(90deg);
}


