
*{
    box-sizing: border-box;
}

.navBar{
     display: flex;
     height: 5rem;
     align-items: center;
     background-color: #4b4b4b;
}

.navBar>*{
     margin-left: 4rem;
}
.colorBox{
     height: 70%;
     width: 18rem;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     background-color: #3d3d3d;
}

.colorBox>div{
     width:3rem;
     height: 1.5rem;
}

.colorBox>div{
     width: 3rem;
     height: 1.5rem;
}

#Pink{
     background-color: lightpink;
}

#Green{
     background-color: lightgreen;
}

#lightBlue{
     background-color: lightblue;
}
#Black{
     background-color: black;
}

.action_btn{
    width: 9rem;
     height:70% ;
     background-color: #3d3d3d;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

.action_btn i {
     font-size: 2rem;
     color: white;
}

.modal-cont{
     height: 50vh;
     background-color: lightblue;
     width: 45vw;
     display: none;
     position: absolute;
     top: calc((100vh - 50vh)/2);
     left: calc((100vw - 45vw)/2);
 }
 
 .textarea-cont{
     width: 75%;
     height:100%;
     background-color: #dfe4ea;
     border: none;
     resize: none;
     font-size: 2.5rem;
     outline: none;
 }
 
 .priority-color-cont{
     width: 25%;
     height: 100%;
     background-color: #4b4b4b;
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     align-items: center;
 }
 
  .priority-color-cont>div{
 
     height: 10%;
     width: 40%;
 
  }

.lightpink{
     background-color: rgb(231, 154, 166);
}
.lightgreen{
     background-color: rgb(146, 243, 146);
}
.lightblue{
     background-color: lightblue;
}
.black{
     background-color: black;
}

.ticket-cont{
     height: 12rem;
     width: 15rem;
     background-color: #f1f2f6;
}
.ticketColor{
     height: 1rem;
}
.ticket-id{
     height: 2rem;
     background-color: red;
}

.task-area{
     height: calc(100% - 1rem - 2rem );
     font-size :1.5rem;
     overflow-wrap: break-word;
}
.ticket-lock{
display: flex;
justify-content: flex-end;
margin-top: -29px;
margin-right: 11px;
font-size: 1.5rem;
}

.main-cont{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 2rem;
     padding: 2rem;
}

.active{
     border: 5px solid red ;
}